{% extends 'base.html'%}
{% load static %}
{% block content%}
{% include 'partials/_header.html' %}
<main>
    <!-- código, tipo, endereço e valor -->
    <form class="m-5 p-5" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="endereco" class="form-label">Endereço</label>
            <input type="text" class="form-control" required id="endereco" name="end" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="valor" class="form-label">valor</label>
            <input type="text" class="form-control" id="valor" name="val" placeholder="R$123,45" required>
        </div>
        <div class="d-flex justify-content-between mb-3">
            <div class="mb-3 w-50">
                <label for="codigo" class="form-label">codigo</label>
                <input type="text" class="form-control" required id="codigo" name="cod">
            </div>
            <div class="mb-3 ms-3 w-25">
                <label for="imagem" class="form-label">Imagem</label>
                <input type="file" class="form-control" required id="imagem" name="img">
            </div>
            <div class="mb-3 ms-3 w-25">
                <label for="tipo" class="form-label">Tipo</label>
                <select class="form-select form-select-sm w-25" id="tipo" name="t" aria-label=".form-select-sm example">
                    <option selected value="1">Casa</option>
                    <option value="2">Apertamento</option>
                    <option value="3">Kitnet</option>
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</main>

<footer class="position-relative">
    <div class="">

    </div>
</footer>
{% endblock %}