{% extends 'base.html'%}
{% load static %}
{% block content%}
{% include 'partials/_header.html' %}
<main>
    <!-- nome, email e telefone do cliente. -->
    <form class="m-5 p-5" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="nome" class="form-label">Nome</label>
            <input type="text" class="form-control" required id="nome" name="nome">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" required id="email" name="email" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="senha" class="form-label">telefone</label>
            <input type="tel" class="form-control" id="telefone" name="telefone" placeholder="(DDD) 9XXXX-XXXX"
                pattern="([0-9]{11})" required>
        </div>
        <button type="submit" class="btn btn-primary" >Submit</button>
    </form>
</main>

<footer class="position-relative">
    <div class="">

    </div>
</footer>
{% endblock %}