{% extends 'base.html'%}
{% load static %}
{% block content%}
{% include 'partials/_header.html' %}
<main class="d-flex flex-row position-relative">
    <!-- menu lateral -->
    <div class="w-25 mt-5 mx-4 p-2 backgrund-menu">
        <h2>Filtros</h2>
        <form class="" method="post">
            {% csrf_token %}
            <div class="my-5">
                <h4>Tipo</h4>
                <div class="form-check mt-3">
                    <input class="form-check-input" type="radio" name="tipo" value="tipo1" checked>
                    <label class="form-check-label" for="tipo1">Todos</label>
                </div>
                <div class="form-check mt-3">
                    <input class="form-check-input" type="radio" name="tipo" value="tipo2">
                    <label class="form-check-label" for="tipo2">Apartamento</label>
                </div>
                <div class="form-check mt-3">
                    <input class="form-check-input" type="radio" name="tipo" value="tipo3">
                    <label class="form-check-label" for="tipo3">kitnet</label>
                </div>
                <div class="form-check mt-3">
                    <input class="form-check-input" type="radio" name="tipo" value="tipo4">
                    <label class="form-check-label" for="tipo4">casa</label>
                </div>
            </div>
            <div class="my-5">
                <h4>Status</h4>
                <div class="form-check mt-3 ">
                    <input class="form-check-input" type="radio" name="vago" value="vago1" checked>
                    <label class="form-check-label" for="vago1">Todos</label>
                </div>
                <div class="form-check mt-3 ">
                    <input class="form-check-input" type="radio" name="vago" value="vago2">
                    <label class="form-check-label" for="vago2">Vago</label>
                </div>
                <div class="form-check mt-3">
                    <input class="form-check-input" type="radio" name="vago" value="vago3">
                    <label class="form-check-label" for="vago3">Locado</label>
                </div>
                <div class="mt-3">
                    <button class="btn btn-outline-primary me-2" type="submit" id="filtrar">Filtrar</button>
                </div>
            </div>    
        </form>
    </div>

    <!-- imóveis -->
    <div class="w-75 mt-5 mx-4">
        <div class="container">
            <div class="row">
                <!-- no django é só copiar o texto abaixo que ele se reorganizar sozinho -->
                {% if imoveis %}
                {% for imovel in imoveis %}
                <div class="col">
                    <div class="card mx-3 mb-3" style="width: 18rem;">
                        {% if imovel.foto_imovel == '' %}
                        <img class="card-img-top imagem-card" src="{% static 'img/apartamento.jpg' %}" alt="">
                        {% else %}
                        <img class="card-img-top imagem-card" src="{{ imovel.foto_imovel.url }}" alt="teste">
                        {% endif %}

                        <div class="card-body">
                            <h5 class="card-title">Cod: {{imovel.codigo}}</h5>
                            <p class="card-text">End: {{imovel.endereco}}</p>
                            <p class="card-text">R${{imovel.valor}},00</p>
                            <!-- botao vermelho caso ja estiver desligado e escrito Locado-->
                            <!-- Caso estiver livre, botao azul e escrito Vago -->
                            {% if imovel.status == False %}
                                <a href="{% url 'imovel' imovel.id %}" class="btn btn-primary">Alugar</a>
                            {% else %}
                                <a href="" class="btn btn-danger">Alugado</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</main>

<footer class="position-relative">
    <div class="">

    </div>
</footer>
{% endblock %}